<!-- BEGIN FOOTER -->
<section class="p-b-50 p-t-50 bg-master-darker ">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p class="fs-11 no-margin font-arial text-white small-text"><span class="hint-text">Exclusive only at</span> Envato Marketplace,Themeforest <span class="hint-text">See</span> Standard licenses &amp; Extended licenses
        </p>
        <p class="fs-11 hint-text text-white font-arial no-margin small-text">Copyright © 2014 REVOX. All Rights Reserved.</p>
        <ul class="no-style fs-11 no-padding font-arial m-t-20">
          <li class="inline no-padding"><a class="text-white p-r-10" href="#">Home</a></li>
          <li class="inline no-padding"><a class="text-white p-l-10 p-r-10 hint-text" href="#">Themeforest Profile</a></li>
          <li class="inline no-padding"><a class="text-white p-l-10 p-r-10 hint-text" href="#">Support</a></li>
          <li class="inline no-padding"><a class="text-white p-l-10 p-r-10 hint-text xs-no-padding xs-m-t-10" href="#">Made with Pages</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="no-style fs-12 no-padding pull-right xs-pull-left xs-m-t-20">
          <li class="inline no-padding"><a class="text-white p-l-30 fs-16 xs-no-padding" href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="inline no-padding"><a class="text-white p-l-30 fs-16" href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="inline no-padding"><a class="text-white p-l-30 fs-16" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li class="inline no-padding"><a class="text-white p-l-30 fs-16" href="#"><i class="fa fa-rss"></i></a></li>
          <li class="inline no-padding"><a class="text-white p-l-30 fs-16" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- END FOOTER -->